// css reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

// header component
.header {
    display: flex;
    justify-content: space-between; 
    padding: 4% 9%;
}

// content wrapper
.content {
    
    // dimensions & spacing
    max-width: 100vw;
    min-height: 100vh;

    overflow: hidden;
    
    // dev
    outline: 2px solid #000;
}

// ul [ workbench ]
.workbench {    
    
    // display props [ grid ]
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);

    // dimensions & spacing
    padding: 5%;
    height: 100%;
    width: 100%;
    
    // dev
    border: 2px solid red;

    // workbench items
    .workarea {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid purple;
        list-style-type: none;
    }
    .workarea:first-child,
    .workarea:last-child {
        grid-column: span 2;

        max-width: 100%;
    }
    .workarea:nth-child(2),
    .workarea:nth-child(3) {
        grid-row: span 2;
    }
    // workbench items image
    img {
        max-width: 200px;
        max-height: 200px;

        // dev
        border: 2px solid purple;
    }
    img#beaker {
        height: 150px;
    }
    
}

// ul [ herbalism ]
.herbs {
    
    // display props [ flex ]
    display: flex;
    align-items: center;
    justify-content: space-around;

    // dimensions & spacing
    width: 100%;
    max-width: 100vw;

    // component props
    list-style-type: none;
    
    // dev
    outline: 2px solid #000;

    
    // herbs list items
    .items {

        // display props [ flex ]
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        // dev
        border: 2px solid red;
        
    }
    // herbs items image
    img {
        max-width: 100px;
        max-height: 100px;

        // dev
        border: 2px solid purple;
    }
}