@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

// css reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

// css variables 
:root {

    // fonts
    --font: 'Viaoda Libre', cursive;

    // spacing
    --sm: 2%;
    --md: 5%;
    --lg: 10%;

    // dev borders
    // --wireframe: 2px solid darkblue;
    // --debugging: 2px solid darkred;
    // --component: 2px solid darkgreen;
}

html, body {
    font-family: var(--font);
}

// header component
.header {
    display: flex;
    justify-content: space-between; 
    padding: 4% 9%;
    text-transform: capitalize;
    text-decoration: underline;
    letter-spacing: 0.12rem;
}
.header button {
    border: 2px solid black;
    max-width: 60px;
}

// content wrapper
.content {
    // dimensions & spacing
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

// ul [ workbench ]
.workbench {    
    
    // display props [ grid ]
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);

    // dimensions & spacing
    padding: 5%;
    height: 100%;
    width: 100%;
    
    // dev
    border: var(--component);
    
    // workbench items
    .workarea {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;

        // dev
        // border: 2px solid purple;
    }
    .workarea:first-child,
    .workarea:last-child {
        grid-column: span 2;

        max-width: 100%;
    }
    .workarea:nth-child(2),
    .workarea:nth-child(3) {
        grid-row: span 2;
    }
    // workbench items image
    img {
        max-width: 200px;
        max-height: 200px;

        // dev
        // border: 2px solid purple;
    }
    img#beaker {
        height: 150px;
    }
    
}
.btn {
    width: 100px;
    
}
#mix {
    border: 2px solid #000;
    padding: var(--sm);
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    min-width: 265px;
}

// ul [ herbalism ]
.herbs {
    
    // display props [ flex ]
    display: flex;
    align-items: center;
    justify-content: space-around;

    // dimensions & spacing
    width: 100%;
    max-width: 100vw;

    // component props
    list-style-type: none;
    
    // dev
    border: var(--wireframe);

    
    // herbs list items
    .items {

        // display props [ flex ]
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        // dev
        border: var(--debugging);
        
        
    }
    // herbs items image
    img {
        max-width: 100px;
        max-height: 100px;
    }
}